.socialIcons {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1000;
  animation: fadeIn 1s ease-out forwards;
}

.iconLink {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  &::before {
    content: attr(title);
    position: absolute;
    right: 100%;
    margin-right: 12px;
    background: #4e4e4e85;
    color: #fff;
    padding: 3px 5px;
    border-radius: 8px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    transform: translateX(10px);
    pointer-events: none;
    transition: all 0.3s ease;
  }

  &:hover::before {
    opacity: 1;
    transform: translateX(0);
  }
}

.iconWrapper {
  color: #facc15;
  font-size: 22px;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
